@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/opensans_condensed-bold.woff2") format("woff2"), url("../fonts/opensans_condensed-bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/opensans_condensed-light.woff2") format("woff2"), url("../fonts/opensans_condensed-light.woff") format("woff");
  font-weight: 300;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  background: #333333;
  color: #FFFFFF;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  background: #D1A954;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}

.section-title {
  text-transform: uppercase;
  font-size: 38px;
  line-height: 65px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.section-title-orange {
  color: #D1A954;
}

.header .header__nav-link {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 25px;
  font-weight: 700;
}
.header .header__tel {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}
.header .header__title {
  text-transform: uppercase;
  font-size: 64px;
  line-height: 87px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.header .header__desc {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.about .about__subtitle {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 28px;
  font-weight: 700;
}
.about .about__desc {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.about .about__subtitle {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.about .digits__desc-orange {
  color: #D1A954;
}