body {
  font-family: $font-family-condensed;
  @include font-mixin();
  background: $dark-gray;
  color: $white;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  background: $gold;
  text-transform: uppercase;
  @include font-mixin(18px, 25px)
}

.section-title {
  text-transform: uppercase;
  @include font-mixin(38px, 65px, 300);
  letter-spacing: 0.1em;
}

.section-title-orange {
  color: $gold;
}
