@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin font-mixin($font-size-param: 16px, $line-height-param: 21px, $font-weight-param: 700) {
  font-size: $font-size-param;
  line-height: $line-height-param;
  font-weight: $font-weight-param;
}
